.question {
	font-size: 30px;
	padding: 5px 15px;
	margin: 20px 0;
	background-color: #9befb8;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.question-id, .asnwers-tag, .subjects-tag {
	font-size: 22px;
	color: #FFF;
}

.answers li, .subjects li {
	cursor: pointer;
	font-size: 26px;
	list-style: none;
	padding: 5px 15px;
	margin: 20px 0;
	background-color: #9befb8;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

section {
	padding: 15px;
}

section.color {
	background-color: #2980B9;
}

section.dark {
	background-color: #222222;
}

.navbar {
	background-color: #FFF;
	margin: 0;
}

.navbar-toggle {
	border: none;
	background-color: #2980B9;
}

.navbar-toggle > .icon-bar {
	background-color: #EEE;
}

.hipstest-brand {
	margin: 0 5px;
	position: relative;
	top: 20px;
	z-index: 1;
}

.bg-correct {
	background-color : #A0FFA0 !important;
}

.bg-wrong {
	background-color : #FFA0A0 !important;
}

/*XS Fixes*/
@media (max-width: 360px){
	.question {
		font-size: 20px;
	}
	.answers li {
		font-size: 18px;
	}
}
