<!DOCTYPE html>
<html lang="es" ng-app="hipsTestApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HipsTest. Porque hacer tests en papel sigue siendo mainstream.</title>

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- Angular -->
    <script src="/components/angular/angular.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- MathJax -->
    <script src="/components/angular/angular.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="/components/bootstrap/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/components/MathJax/MathJax.js"></script>
    <script src="/assets/js/mathjax.conf.js"></script>
  </head>

  <body>
    <a id="top"></a>
    <div class="navbar" role="navigation" style="background-color:">
      <div class="container">
        <div class="navbar-header">
          <a href=""><img src="/assets/imgs/brand.png" class="hipstest-brand" /></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <section class="color" ng-controller="TestQuestionCtrl">
      <div class="container">
        <center><i class="fa fa-spinner fa-spin fa-4x" ng-if="!question"></i></center>
        <div class="row" ng-if="question">
          <div class="question-id">
            <span><b>{{question.asignatura}}</b> Pregunta #{{question.id}}</span>
          </div>
          <div class="question">{{question.contenido}}</div>
          <div class="answers">
            <div class="asnwers-tag"><b>Respuestas</b></div>
            <ul class="col-sm-offset-1 col-sm-10">
              <li ng-repeat="answer in question.answers" ng-class="{ 'bg-correct': answered && answer.correcta }" ng-click="pickAnswer(answer, $event)">{{answer.contenido}}</li>
            </ul>
          </div>
          <div class="col-sm-12">
            <button type="button" class="btn btn-default" ng-click="getRandomQuestion()">
              <span class="glyphicon glyphicon-refresh"></span>
              <span class="collapse-desc"> Cargar otra pregunta</span>
            </button>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-10" ng-show="correctPercentage > 0 || wrongPercentage > 0">
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: {{correctPercentage}}%">
              <span class="hidden-xs">Aciertos:</span> {{nCorrect}}
            </div>
            <div class="progress-bar progress-bar-danger" style="width: {{wrongPercentage}}%">
              <span class="hidden-xs">Fallos:</span> {{nWrong}}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="dark"></section>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-4">
          <h2>Latex Demo</h2>
            <h3>The Lorenz Equations</h3>
            <p>
            \begin{align}
            \dot{x} & = \sigma(y-x) \\
            \dot{y} & = \rho x - y - xz \\
            \dot{z} & = -\beta z + xy
            \end{align}
            </p>
        </div>
        <div class="col-sm-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-sm-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-sm-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-sm-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
